<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <!--collection注入-->
    <bean id="collection" class="cn.day06collectioninject.entity.Collection">
        <!--数组注入-->
        <property name="array">
            <array>
                <value>肯德基</value>
                <value>麦当劳</value>
                <value>德克士</value>
            </array>
        </property>

        <!--list集合注入-->
        <property name="list">
            <list>
                <value>知识</value>
                <value>力量</value>
            </list>
        </property>

        <!--set集合注入-->
        <property name="setlist">
            <set>
                <value>知识set</value>
                <value>力量set</value>
            </set>
        </property>

        <!--map集合注入-->
        <property name="map">
            <map>
                <entry key="1" value="kendeji"></entry>
                <entry key="2" value="maidanglao"></entry>
                <entry key="1" value="dekeshi"></entry>
            </map>
        </property>

        <!--properties 注入-->
        <property name="properties">
            <props>
                <prop key="1">1111111</prop>
                <prop key="2">2222222</prop>
                <prop key="3">3333333</prop>
                <prop key="4">4444444</prop>
            </props>
        </property>
    </bean>

</beans>