<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hellowService" class="cn.day01.HelloService"></bean>

    <bean id="car" class="etity.Car">
        <property name="brand" value="宝马"></property>
        <property name="color" value="银色"></property>
    </bean>

    <bean id="person" class="etity.Person">
        <property name="age" value="20"></property>
        <property name="name" value="北大青鸟"></property>
        <property name="car" ref="car"></property>
    </bean>

    <bean id="a4paper" class="cn.day02.A4Paper"></bean>
    <bean id="inkcolor" class="cn.day02.InkColor"></bean>
    <bean id="printer" class="cn.day02.Printer">
        <property name="ink" ref="inkcolor"></property>
        <property name="paper" ref="a4paper"></property>
    </bean>

    </beans>