<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

   <!--目标类-->
   <bean id="helloService" class="cn.day21.HelloService"></bean>
   <!--增强类-->
   <bean id="myAspect" class="cn.day21.MyAspect"></bean>
   <!--AOP config 配置-->
   <aop:config>
      <!--切点表达式-->
      <aop:pointcut id="mypoint" expression="execution(* cn.day21.HelloService.*(..))"></aop:pointcut>
      <!--切面-->
      <aop:aspect ref="myAspect">
         <!--前置增强-->
         <aop:before method="mybefore" pointcut-ref="mypoint"></aop:before>
         <!--后置增强-->
         <aop:after-returning method="myafterreturing" pointcut-ref="mypoint"></aop:after-returning>

         <!--环绕增强-->
         <aop:around method="myaround" pointcut-ref="mypoint"></aop:around>
      </aop:aspect>
   </aop:config>

</beans>